

body {
    font-family: sans-serif;
}

.game {
    border: 1px black solid;
    display: flex;
}

.frame {
    display: flex;
    flex-direction: column;
    width: 65px;
    flex-grow: 1;
}

.rolls {
    display: flex;
}


.frame-item {
    border: 1px rgb(0,129,4) solid;
    display: flex;
    justify-content: center;
    background-color: rgb(202,255,206);
    flex-grow: 1;
    font-weight: bold;
}


.header {
    background-color: rgb(254,255,206);
}